<%= form_with(model: @exercise, url: [@gym_plan, @exercise]) do |form| %>
  <% if @exercise.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% @exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card text-center">
  <div class="card-header">
    <h4>Exercise</h4>
  </div>

  <div class="card-body">
    <div class="form-label">
      <h5 class="card-title"> <%= form.label :name, style: "display: block" %> </h5>
      <p class="card-text"> <%= form.text_field :name, class: "form-control" %> </p>
   </div>

    <div class="form-label">
      <h5 class="card-title"> <%= form.label :number_of_series, style: "display: block" %> </h5>
      <p class="card-text"> <%= form.number_field :number_of_series, class: "form-control" %> </p>
    </div>

    <div class="form-label">
      <h5 class="card-title"> <%= form.label :number_of_reps, style: "display: block" %> </h5>
      <p class="card-text"> <%= form.number_field :number_of_reps, class: "form-control" %> </p>
   </div>
  </div>
</div>
  <p>
  <div class="d-flex justify-content-center">
    <%= form.submit class: "btn btn-primary" %>
  </div>
  </p>
<% end %>